<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="Content-Language" content="en">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#4188c9">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<title><%- title %></title>
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png?v=<%= version %>">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png?v=<%= version %>">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png?v=<%= version %>">
		<link rel="manifest" href="/images/favicons/site.webmanifest?v=<%= version %>">
		<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg?v=<%= version %>" color="#5bbad5">
		<link rel="shortcut icon" href="/images/favicons/favicon.ico?v=<%= version %>">
		<meta name="msapplication-TileColor" content="#f5f5f5">
		<meta name="msapplication-config" content="/images/favicons/browserconfig.xml?v=<%= version %>">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
		<link href="/css/main.css?v=<%= version %>" rel="stylesheet">
	</head>
	<body>

	<noscript>
		<div class="container no-js-warning">
			<div class="alert alert-warning text-center">
				<strong>Warning!</strong> This application requires Javascript and your browser doesn't support it.
			</div>
		</div>
	</noscript>
