<td class="text-center">
    <div class="avatar d-block" style="background-image: url(<%- avatar || '/images/default-avatar.jpg' %>)">
        <span class="avatar-status <%- is_disabled ? 'bg-red' : 'bg-green' %>"></span>
    </div>
</td>
<td>
    <div><%- name %></div>
    <div class="small text-muted">
        Created: <%- formatDbDate(created_on, 'Do MMMM YYYY') %>
    </div>
</td>
<td>
    <div><%- email %></div>
</td>
<td>
    <div><%- roles.join(', ') %></div>
</td>
<td class="text-center">
    <div class="item-action dropdown">
        <a href="#" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="edit-user dropdown-item"><i class="dropdown-icon fe fe-edit"></i> Edit Details</a>
            <a href="#" class="edit-permissions dropdown-item"><i class="dropdown-icon fe fe-shield"></i> Edit Permissions</a>
            <a href="#" class="set-password dropdown-item"><i class="dropdown-icon fe fe-lock"></i> Set Password</a>
            <% if (!isSelf()) { %>
            <a href="#" class="login dropdown-item"><i class="dropdown-icon fe fe-log-in"></i> Sign in as User</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="delete-user dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> Delete User</a>
            <% } %>
        </div>
    </div>
</td>
