<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><%- i18n('users', 'password-title', {self: isSelf(), name: name}) %></h5>
        <button type="button" class="close cancel" aria-label="Close" data-dismiss="modal">&nbsp;</button>
    </div>
    <div class="modal-body">
        <form>
            <% if (isSelf()) { %>
            <div class="form-group">
                <label class="form-label"><%- i18n('users', 'current-password') %></label>
                <input type="password" name="current_password" class="form-control" placeholder="" minlength="8" required>
            </div>
            <% } %>

            <div class="form-group">
                <label class="form-label"><%- i18n('users', 'new-password') %></label>
                <input type="password" name="new_password1" class="form-control" placeholder="" minlength="8" required>
                <div class="invalid-feedback secret-error"></div>
            </div>
            <div class="form-group">
                <label class="form-label"><%- i18n('users', 'confirm-password') %></label>
                <input type="password" name="new_password2" class="form-control" placeholder="" minlength="8" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal"><%- i18n('str', 'cancel') %></button>
        <button type="button" class="btn btn-teal save"><%- i18n('str', 'save') %></button>
    </div>
</div>
