<td class="text-right"><a href="#" class="meta btn btn-secondary btn-sm">open</a></td>
<td class="text-nowrap"><%- formatDbDate(eventTime, 'MMM DD YYYY, H:mm') %></td>
<%= createSpecificTableCell(eventSeverity) %>
<%= createSpecificTableCell(assetName) %>
<%= createSpecificTableCell(securityAction) %>
<%= createSpecificTableCell(waapIncidentType) %>
<%= createSpecificTableCell(httpSourceId) %>
<%= createSpecificTableCell(sourceIP) %>
<%= createSpecificTableCell(proxyIP) %>
<%= createSpecificTableCell(httpHostName) %>
<%= createSpecificTableCell(httpMethod) %>
<%= createSpecificTableCell(httpResponseCode) %>
<%= createSpecificTableCell(httpUriPath) %>
<%= createSpecificTableCell(matchedLocation) %>
<%= createSpecificTableCell(matchedParameter) %>
<%= createSpecificTableCell(matchedSample) %>
