<td><%- formatDbDate(eventTime, 'D-M-YY, H:mm') %></td>
<td><%- eventSeverity %></td>
<td><%- eventPriority %></td>
<td><%- eventTopic %></td>
<td><%- eventName %></td>
<td><%- suggestedRemediation %></td>
<td><%- assetName %></td>
<td class="text-right">
    <a href="#" class="meta btn btn-secondary btn-sm">open</a>
</td>
