<td class="text-center">
    <div class="avatar d-block" style="background-image: url(<%- owner.avatar || '/images/default-avatar.jpg' %>)" title="Owned by <%- owner.name %>">
        <span class="avatar-status <%- owner.is_disabled ? 'bg-red' : 'bg-green' %>"></span>
    </div>
</td>
<td>
    <div>
        <% domain_names.map(function(host) {
            %>
            <span class="tag"><%- host %></span>
            <%
        });
        %>
    </div>
    <div class="small text-muted">
        Created: <%- formatDbDate(created_on, 'Do MMMM YYYY') %>
    </div>
</td>
<td>
    <div class="text-monospace"><%- forward_ip %>:<%- forward_port %></div>
</td>
<td>
    <div><%- ssl_enabled && ssl_provider ? ssl_provider : 'HTTP only' %></div>
</td>
<td>
    <div><%- access_list_id ? access_list.name : 'Public' %></div>
</td>
<% if (canManage) { %>
<td class="text-center">
    <div class="item-action dropdown">
        <a href="#" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="edit dropdown-item"><i class="dropdown-icon fe fe-edit"></i> Edit</a>
            <a href="#" class="logs dropdown-item"><i class="dropdown-icon fe fe-book"></i> Logs</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="delete dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> Delete</a>
        </div>
    </div>
</td>
<% } %>