<div class="container">
    <div class="row align-items-center">
        <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item">
                    <a href="/" class="nav-link"><i class="fe fe-home"></i> <%- i18n('menu', 'dashboard') %></a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown"><i class="fe fe-monitor"></i> <%- i18n('menu', 'hosts') %></a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                        <% if (canShow('proxy_hosts')) { %>
                        <a href="/nginx/proxy" class="dropdown-item "><%- i18n('proxy-hosts', 'title') %></a>
                        <% } %>

                        <% if (canShow('redirection_hosts')) { %>
                        <a href="/nginx/redirection" class="dropdown-item "><%- i18n('redirection-hosts', 'title') %></a>
                        <% } %>

                        <% if (canShow('streams')) { %>
                        <a href="/nginx/stream" class="dropdown-item "><%- i18n('streams', 'title') %></a>
                        <% } %>

                        <% if (canShow('dead_hosts')) { %>
                        <a href="/nginx/404" class="dropdown-item "><%- i18n('dead-hosts', 'title') %></a>
                        <% } %>
                    </div>
                </li>
                <% if (canShow('access_lists')) { %>
                <li class="nav-item">
                    <a href="/nginx/access" class="nav-link"><i class="fe fe-lock"></i> <%- i18n('access-lists', 'title') %></a>
                </li>
                <% } %>
                <% if (canShow('certificates')) { %>
                <li class="nav-item">
                    <a href="/nginx/certificates" class="nav-link"><i class="fe fe-shield"></i> <%- i18n('certificates', 'title') %></a>
                </li>
                <% } %>
                <% if (isAdmin()) { %>
                <li class="nav-item">
                    <a href="/users" class="nav-link"><i class="fe fe-users"></i> <%- i18n('users', 'title') %></a>
                </li>
                <li class="nav-item">
                    <a href="/audit-log" class="nav-link"><i class="fe fe-book-open"></i> <%- i18n('audit-log', 'title') %></a>
                </li>
                <li class="nav-item">
                    <a href="/settings" class="nav-link"><i class="fe fe-settings"></i> <%- i18n('settings', 'title') %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
