<td class="text-center">
    <div class="avatar d-block" style="background-image: url(<%- owner.avatar || '/images/default-avatar.jpg' %>)" title="Owned by <%- owner.name %>">
        <span class="avatar-status <%- owner.is_disabled ? 'bg-red' : 'bg-green' %>"></span>
    </div>
</td>
<td>
    <div class="wrap">
        <%
        if (provider === 'letsencrypt') {
            domain_names.map(function(host) {
                if (host.indexOf('*') === -1) {
                    %>
                    <span class="tag host-link hover-pink" rel="https://<%- host %>"><%- host %></span>
                    <%
                } else {
                    %>
                    <span class="tag"><%- host %></span>
                    <%
                }
            });
        } else {
            %><%- nice_name %><%
        }
        %>
    </div>
    <div class="small text-muted">
        <%- i18n('str', 'created-on', {date: formatDbDate(created_on, 'Do MMMM YYYY')}) %>
    </div>
</td>
<td>
    <%- i18n('ssl', provider) %>
</td>
<td class="<%- isExpired() ? 'text-danger' : '' %>">
    <%- formatDbDate(expires_on, 'Do MMMM YYYY, h:mm a') %>
</td>
<% if (canManage) { %>
<td class="text-right">
    <div class="item-action dropdown">
        <a href="#" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
            <% if (provider === 'letsencrypt') { %>
                <a href="#" class="renew dropdown-item"><i class="dropdown-icon fe fe-refresh-cw"></i> <%- i18n('certificates', 'force-renew') %></a>
                <div class="dropdown-divider"></div>
            <% } %>
            <a href="#" class="delete dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> <%- i18n('str', 'delete') %></a>
        </div>
    </div>
</td>
<% } %>