<% if (title) { %>
    <h1 class="h2 mb-3"><%- title %></h1>
<% }

if (subtitle) { %>
    <p class="h4 text-muted font-weight-normal mb-7"><%- subtitle %></p>
<% }

if (links && links.length) { %>
    <% links.forEach(function(link, index) { %>
        <div style="margin-bottom: 10px;">
            <a class="btn btn-<%- btn_color %>" href="#" data-index="<%- index %>"><%- link %></a>
        </div>
    <% }); %>
<% } %>
