<div>
    <% if (id === 'new') { %>
        <div class="title">
            <i class="fe fe-shield text-success"></i> <%- i18n('all-hosts', 'new-cert') %>
        </div>
        <span class="description"><%- i18n('all-hosts', 'with-le') %></span>
    <% } else if (id > 0) { %>
        <div class="title">
            <i class="fe fe-shield text-pink"></i> <%- provider === 'other' ? nice_name : domain_names.join(', ') %>
        </div>
        <span class="description"><%- i18n('ssl', provider) %> &ndash; Expires: <%- formatDbDate(expires_on, 'Do MMMM YYYY, h:mm a') %></span>
    <% } else { %>
        <div class="title">
            <i class="fe fe-shield-off text-danger"></i> <%- i18n('all-hosts', 'none') %>
        </div>
        <span class="description"><%- i18n('all-hosts', 'no-ssl') %></span>
    <% } %>
</div>
