<div class="location-block card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label"><%- i18n('locations', 'location_label') %> <span class="form-required">*</span></label>
                    <div class="row gutter-xs">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text">location</span>
                                </span>
                                <input type="text" name="path" class="form-control model" value="<%- path %>" placeholder="<%- i18n('locations', 'path') %>" required>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="selectgroup">
                                <label class="selectgroup-item">
                                    <input type="checkbox" class="selectgroup-input settings-checkbox">
                                    <span class="selectgroup-button">
                                        <i class="fe fe-settings"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label class="form-label"><%- i18n('proxy-hosts', 'forward-scheme') %></label>
                    <select name="forward_scheme" class="form-control custom-select model" placeholder="http">
                        <option value="http" <%- forward_scheme === 'http' ? 'selected' : '' %>>http</option>
                        <option value="https" <%- forward_scheme === 'https' ? 'selected' : '' %>>https</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="form-group">
                    <label class="form-label"><%- i18n('proxy-hosts', 'forward-host') %> <% if (!static) { %> <span class="form-required">*</span> <% } %> </label>
                    <input type="text" name="forward_host" class="form-control text-monospace model" placeholder="" value="<%- forward_host %>" <%- !static ? 'checked' : '' %> autocomplete="off" maxlength="200">
                    <span style="font-size: 9px;"><%- i18n('proxy-hosts', 'custom-forward-host-help') %></span>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="form-group">
                    <label class="form-label"><%- i18n('proxy-hosts', 'forward-port') %> <% if (!static) { %> <span class="form-required">*</span><% } %> </label>
                    <input name="forward_port" type="number" class="form-control text-monospace model" placeholder="80" value="<%- forward_port %>" <%- !static ? 'checked' : '' %> >
                </div>
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="form-group">
                    <label class="form-label"><%- i18n('proxy-hosts', 'root-dir') %><% if (static) { %> <span class="form-required">*</span><% } %></label>
                    <input type="text" name="root_dir" class="form-control text-monospace model" placeholder="" value="<%- root_dir %>" <%- static ? 'required' : '' %> autocomplete="off" maxlength="200">
                </div>
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="form-group">
                    <label class="form-label"><%- i18n('proxy-hosts', 'index-file') %><% if (static) { %> <span class="form-required">*</span><% } %></label>
                    <input type="text" name="index_file" class="form-control text-monospace model" placeholder="" value="<%- index_file %>" <%- static ? 'required' : false %> autocomplete="off" maxlength="200">
                </div>
            </div>
						<div class="col-sm-12 col-md-12">
								<div class="form-group">
										<label class="custom-switch">
												<input type="checkbox" class="custom-switch-input location-static-checkbox model" name="static" value="1"<%- static ? ' checked' : '' %> >
												<span class="custom-switch-indicator"></span>
												<span class="custom-switch-description"><%- i18n('proxy-hosts', 'static') %></span>
										</label>
								</div>
						</div>
        </div>
        <div class="row config">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea name="advanced_config" rows="8" class="form-control text-monospace model" placeholder="# <%- i18n('all-hosts', 'advanced-warning') %>"><%- advanced_config %></textarea>
                </div>
            </div>
        </div>

        <a href="#" class="card-link location-delete">
            <i class="fa fa-trash"></i> <%- i18n('locations', 'delete') %>
        </a>
    </div>
</div>    
